body{
	text-align: center;
	margin: 0 15%;
	width: 75%;
	border: 2px solid blue;
}

header{
	background-color: lightgray;
	margin-top: 20px;
	padding; 0;
}
h2{
	font-style: italic;
}

p{
	font-family:monospace;
	margin: 0;
	padding: 0;
}